name: Deploy to Vercel
env:
  VERCEL_ORG_ID: ${{ secrets.ORGID }}
  VERCEL_PROJECT_ID: ${{ secrets.PROJECTID }}

on:
  push:
    branches:
    - main
    - release/*

jobs:
  deploy-website-files:
    name: Build files
    runs-on: ubuntu-latest
    steps:
    # - is an array
    - uses: actions/checkout/@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: install Vercel
      run: npm install vercel@latest
    - name: Pull Vercel Environment Information
      run: vercel pull --yes --environment=production --token=${{ secrets.VERCELKEY }}
    - name: npm install
      run: npm ci
    - name: Vercel build
      run: vercel build --prod --token=${{ secrets.VERCELKEY }}
    - name: Deploy app
      run: npx vercel deploy  --token ${{ secrets.VERCELKEY }}
